
#menu  ul {
    list-style-type: none;
    display: none;

}
#menu:hover > ul {
    display: block;
}

.lau{
	background-color: red;
	width: 400px;
	height: 50px;
}

.mlau {
	z-index: 999;
	position: absolute;
	top: 15px;
	left:0px;
}

#main-menu {
	position:relative;
	background-color: red;
    width: 1200px; 
	height: 50px;
	

}

#main-menu a {
	
	padding-left: 95px;

	color: #ffffff;
	text-decoration: none;
	font-size: 24px;
	text-transform: uppercase;
	font-style: bold;
	text-decoration: none;
	margin: 0 auto;

	
}
#main-menu a:hover, #main-menu a:active {
	color: black;

}
#main-menu a:active {
	font-weight: bold;

}

.menu-a {
	
	width: 400px;
	height: 50px;
	position: absolute;
	top:11px;
	left: 0px;
}
.menu-b {
	width: 400px;
	height: 50px;
	position: absolute;
	top:-4px;
	left: 400px;
}
.menu-c {
	width: 400px;
	height: 50px;
	position: absolute;
	top:11px;
	left: 800px;
}
