#main-menu {
	position:relative;
	background-color: #ffffff;
    width: 1200px; 
	text-align:center;
	padding: 10px;
	border: 3px solid #e9e7f1;

}


#main-menu a {

	font-size: 25px;
	color: #d01a1a;
	text-decoration: none;
	background-color: #ffffff;
	
}
.menu-a {
	float: left;
	width: 400px;
	

	
}

#main-menu a {

	margin: auto;
	
	font-size: 24px;
	
	text-decoration: none;
	

	
}
#main-menu a:hover, #main-menu a:active {
	color: black;

}
#main-menu a:active {
	font-weight: bold;
}

