* {
	box-sizing: border-box;
}

body {
	position: relative;
	background-color: #d7d7d7;
	padding: 0;
	max-width: 1200px;
	margin: auto;

}

#banner img {
	
	width: 1200px;
}

h1{
	text-transform: uppercase;
	text-align: center;
	color: #b2304a;
	font-size: 24px;
}
#main-content {
	width: 670px;
	height: 534px;
	background-color: #ffffff;
	position: absolute;
	top: 467px;
	left: 530px;
	
}

#km img {
	background-color: #ffffff;
	position: absolute;
	top:467px;
	left: 0px;
	width: 525px;
	height: 535px;
	padding: 15px;
	
}
#chat {
	position: fixed;
	right: 30px;
	bottom: 30px;
}
#backtop img{
	max-width: 100px;
	max-height: 100px;
}
#backtop img:hover {
	width: 80px;
	height: 80px;
}
#km img:hover {
transform: scale(0.8);
}

.call {
	position: relative;
	position: absolute;
	top: 1008px;
	left: 0px;
	width: 1200px;
	background-color: #ffffff;
	
}
h2{
	font-family: Georgia ;
	padding-left: 400px;
	font-size: 30px;
	text-transform: uppercase;
	animation: title 2s ease infinite ;
}

@keyframes title {
	0%  {; color: red;}
    10%  {; color: yellow;}
    20%  {; color: red;}
    30%  {; color: yellow;}
    40%  {; color: red;}
    50%  {; color: yellow;}
    60%  {; color: red;}
    70%  {; color: yellow;}
    80% {; color: red;}
    90%  {; color: yellow;}
    100%  {; color: red;}
   
}

pre {
	margin-left: 10px;
	margin-right: 10px;
	font-size: 20px;
	white-space: pre-line;
}
