* {
	box-sizing: border-box;
}

body {
	position: relative;
	background-color: #E5e5d5;
	padding: 0;
	max-width: 1400px;
	margin: auto;
}

#banner img {
	border: 90px solid #ffffff ;
	/*border-radius: 5%;*/
	width: 1400px;
}

h1{
	text-transform: uppercase;
	text-align: center;
	color: #b2304a;
	font-size: 24px;
}
#main-content {
	position: absolute;
	top: 614px;
	left: 260px;
}

#backtop {
	position: fixed;
	right: 30px;
	bottom: 30px;
}
#backtop img{
	max-width: 100px;
	max-height: 100px;
}



./*ct {
	padding: 10px;
	margin: 0.5%;
	float: left;*/
	
}
/*.wrap {
	max-width: 1000px;
	margin: auto;
}
*/

  