

.box{
	padding: 15px;
	/*margin-right: 5px;*/
	float: left;
	width: 33.33333%;
	border: 1px solid ;
	border-top-width: 3px;
	
}

.info{
	border-color: #76a7fa;
}

.company{
	border-color: #4bdfd9;
}

.contact {
	border-color: #f9b256;
}

.info span {
	color: #76a7fa;
}

.company span {
	color: #4bdfd9;
}

.contact span {
	color: #f9b256;
}


