

html,body{margin: 0;padding: 0;}
*{box-sizing: border-box;}
img {max-width: 100%}

body {
	font-family: "Open sans" , arial , sans-serif;
	font-weight: 500;
	background-color: #ffffff;
}

h1 {
	margin: 25px 0;
	line-height: 1.5em;
	font-family: Georgia ;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	color: #8E0B00;
	text-align: center;
	font-size: 30px;
	animation: title 10s ease infinite ;
}

.wrap {
	position: relative;
	margin: auto;	
	max-width: 1500px;
}
	
.banner img{
	max-width: 200px;
	height: 900px;
	
}

.content {
	position: absolute;
	top: 30px;
	left: 230px;
}

.chat img {
	
	max-width: 50px;
	max-height: 50px;
}
.chat {
	position: fixed;
	right: 30px;
	bottom: 30px;
}
.phone {
	text-align: center;
	
}