/*.main-menu ul {
  list-style-type: none;
  text-align: center;

}
#menu ul li {
	display: inline-block;
	margin-left: 25px;
}
a {
	text-decoration: none;
	
}

.menu a:hover {
  background: #F1F1F1;
  color: #333;
}

.sub-menu li {
  display: none;
}*/
a{text-decoration: none;}

#menu ul {
  list-style-type: none;
  text-align: center;
}
#menu li {
  /*color: #f1f1f1;*/
  position: relative;
  display: inline-block;
  width: 200px;
  height: 40px;
  line-height: 40px;
  margin-left: -5px;
}
#menu a {
	font-size: 20px;
  text-decoration: none;
 /* color: #fff;*/
  display: block;
}
#menu a:hover {
  /*background: #F1F1F1;*/
  color: #FF9933;
}

/*==Dropdown Menu==*/
.sub-menu {
	font-size: 20px;
	background-color: #ffffff;			
  display: none;
  position: absolute;
  z-index: 999;
}

#menu li:hover .sub-menu {
  display: block;
}
.sub-menu li {
  margin-left: -40px !important;
}

/*==Menu cấp 3==*/
.sub-menu > ul {
  display: none !mportant;
}

#content .menu2 .thucdon{
  width: 160px;
  margin: auto;
}  
#content .menu2 {
  font-size: 30px;
}

#content .menu2 ul {

  text-align: center; 
  list-style-type: none;
  margin-left: -50px;
}
.sub2-menu li{
  font-size: 25px;
}
.sub2-menu a:hover {
  /*background: #F1F1F1;*/
  color: #FF9933;
}
#footer pre{
  text-align: center;
}
.back {
  position: absolute;
  left: 50px;
  top: 25px;
}