* {
	box-sizing: border-box;
}

body {
	
	background-color: #E5e5d5;
	padding: 0;
	max-width: 1000px;
	margin: auto;
}

#banner {
	border: 5px solid #b2304a ;
	border-radius: 5%;

}

#main-menu {

	margin: auto;
    background-color: #b2304a;
    height: 27px; width: 900px;
	text-align:center;
}

h1{
	text-transform: uppercase;
	text-align: center;
	color: #b2304a;
	font-size: 24px;
}

img {
	max-width: 100%;
	max-height: 300px;
	border-radius: 3%;
}

.box img:hover {
	border-radius: 30%;
}

#main-menu a {

	margin: 27px;
	padding: 3px;
	font-size: 20px;
	color: #fcfcfc;
	text-decoration: none;
	background-color: #b2304a;
	
}
#main-menu a:hover, #main-menu a:active {
	color: black;

}
#main-menu a:active {
	font-weight: bold;
}

}

/*.wrap {
	max-width: 1000px;
	margin: auto;
}
*/

  